<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ShopMapper">
    <!--添加-->
    <insert id="ShopAdd" parameterType="shop">
        insert into Shoppin values(#{bookid},#{bookshopid},#{bookname},#{bookage},#{booklb},#{bookjprices},#{pricesd},#{home},#{pricedd},#{booksl},#{bookimage})
    </insert>
</mapper>