<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">
    <!--查询username和password-->
    <select id="login" parameterType="String" resultType="user">
        select * from User WHERE username=#{username} and password=#{password}
    </select>
    <!--注册用户名-->
    <insert id="register" parameterType="user">
        insert into User values (#{id},#{username},#{password})
    </insert>
    <!--查询用户-->
    <select id="getUser" parameterType="String" resultType="user">
        select * from User where username=#{username}
    </select>
    <!--修改用户密码-->
    <update id="setPasswords" parameterType="String">
        update User set password=#{password} where username=#{username}
    </update>
    <!--删除用户名-->
    <delete id="userDelete" parameterType="String">
        delete from User where username=#{username}
    </delete>
    <!--查询所有用户-->
    <select id="findAlls" resultType="user">
        select * from User
    </select>
    <!--根据id查询用户-->
    <select id="seleces" parameterType="java.lang.Integer" resultType="user">
        select * from User where id=#{id}
    </select>
</mapper>